@page
@model Green_home.Pages.DeleteEjendom
@{
    ViewData["Title"] = "Slet Ejendomme";
}
<h2>@ViewData["Title"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>Pris</th>
            <th>Kvm</th>
            <th>Energimærke</th>
            <th>Post nr.</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var ejendom in Model.Ejendomme)
    {
        <tr>
            <td>@ejendom.Pris</td>
            <td>@ejendom.Kvm</td>
            <td>@ejendom.Energimærke</td>
            <td>@ejendom.Post_nr</td>
            <td>
                <form method="post" asp-page-handler="Delete" asp-route-id="@ejendom.Id">
                    <button type="submit" class="btn btn-danger">Slet</button>
              </form>
            </td>
        </tr>
    }
    </tbody>
</table>