@page
@model Green_home.Pages.EjendommeSiteModel
@using Green_home.Model

@{
    Layout = null;
    ViewData["Title"] = "Ejendomme";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Green home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Green_home.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Green_home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Green_Home">Green Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Om_os">Om os</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/EjendommeModel">Ejendomme</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5 bg-success">
        <form method="post">
            <button type="submit" asp-route-sortorder="ByID">Sorter efter ID</button>
            <button type="submit" asp-route-sortorder="ByPris">Sorter efter pris</button>
            <button type="submit" asp-route-sortorder="ByKvm">Sorter efter kvm</button>
            <button type="submit" asp-route-sortorder="ByEnergimærke">Sorter efter energimærke</button>

        </form>
        <div class="row">
            <table>
                <tbody>
                    @foreach (var ejendom in Model.Ejendomme)
                    {
                        <tr class="container mt-3 bg-primary">
                            <td>@ejendom.Id</td>
                            <td>@ejendom.Pris</td>
                            <td>@ejendom.Kvm</td>
                            <td>@ejendom.Energimærke</td>
                            <td>@ejendom.By_id</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>