@page
@model Green_home.Pages.Shared.EjendommeModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Ejendomme</title>
</head>
<body>
<div>
    

    <form method="post">
        <button type="submit" asp-route-sortorder="ByID">Sorter efter ID</button>
        <button type="submit" asp-route-sortorder="ByPris">Sorter efter pris</button>
        <button type="submit" asp-route-sortorder="ByKvm">Sorter efter kvm</button>
        <button type="submit" asp-route-sortorder="ByEnergimærke">Sorter efter energimærke</button>
       
    </form>


    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Pris</th>
            <th>Kvm</th>
            <th>Energimærke</th>
            <th>By</th>
         
        </tr>
        </thead>
        <tbody>
        @foreach (var ejendom in Model.Ejedomme)
        {
            <tr>
                <td>@ejendom.Id</td>
                <td>@ejendom.Pris</td>
                <td>@ejendom.Kvm</td>
                <td>@ejendom.Energimærke</td>
                <td>@ejendom.By_id</td>
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>